.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  background-image: url("bg.jpg");
  margin: auto;
  width: 1080px;
  height: 1920px;
  /*padding-top: 20px;*/
}

.todo {
  color: white
}
.auth-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.authentication {
  width: 200px;
  margin-right: 40px;
  color: white;
  text-align: center;
}

.auth-part-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.text-input {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;

}

.pass {
  -webkit-text-security: disc;
}

.select-auth {
  cursor: pointer;
}

.submit {
  width: 80px;
  cursor: pointer;
  margin: auto;
}

.logout-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.logout-button {
  cursor: pointer;
  margin-top: 20px;
  width: 60px;
  text-align: center;
}

.todo-list {
  margin-left: 20px;
}

.add-todo {
  margin-left: 20px;
  margin-top: 40px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.remove-button {
  margin-left: 20px;
  cursor: pointer;
}

.add {
  margin-left: 20px;
}

.todo-title {
  color: white;
  margin-left: 40px;
  margin-top: 20px;
}